.project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}


.project_card{
    display: grid;
   
    grid-template-rows: 60% 40%;
    height: 100%;
    min-height: 500px;
    width: 100%;
    max-width: 500px;
}


.card_information{
    display: flex;
    flex-direction: column;
}
.card_information h1{
    font-family: var(--code-font);
    font-weight: 100;
    margin-bottom: 0;
}

.button-container{
    display: flex;
    gap: 2rem;
    
}

@media screen and (max-width: 550px){
    .project_card{
        grid-template-rows: auto auto;
    }

    .project_card img{
        object-fit: contain;
    }
}