.banner {
  position: relative;
  height: 600px;
  width: 100%;
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  inset: 0;

  background-repeat: no-repeat;
  background-size: cover;

  filter: grayscale(70%);

  -webkit-mask-image: linear-gradient(to bottom, var(--bg) 20%, transparent);
  mask-image: linear-gradient(to bottom, var(--bg) 20%, transparent);

  z-index: 0;
}
.banner::before {
  background-image: var(--banner_img);
  clip-path: polygon(0 0, 60% 0, 45% 100%, 0% 100%);
  background-position: center center;
}

.banner::after {
  background-image: var(--banner_img_2);
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 45% 100%);
  background-position: 100% 0%;
  background-size: contain;
}

.banner > * {
  position: relative;
  z-index: 1;
}

.banner-content {
  padding-top: 70px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.banner-information {
  max-width: 500px;
  margin-left: 10rem;
}

.banner-information p {
  font-weight: 400;
}

.about-container {
  display: flex;
  gap: 1rem;
}
.about-container .contact {
  width: 100%;
  max-width: 600px;
}

.heading span {
  font-size: 50px;
  font-weight: 1000;
  color: var(--bg2);
  text-shadow: var(--text) 0px 0px 10px;
}

.profile-circle {
  width: 100%;
  max-width: 300px;
}

.profile-circle img {
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.37);
}
.glow {
  box-shadow: 0 0 10px var(--main-blue);
}

.button {
  width: fit-content;
  padding: 10px 20px;
  color: var(--bg);
  background-color: var(--main-blue);
  border: none;
  border-radius: 1rem;
  font-family: var(--code-font);
  font-size: 14px;
}
a {
  text-decoration: none;
}

.link_tag {
  text-shadow: var(--main-blue) 0px 0px 10px;
  font-family: var(--code-font);
  color: var(--main-blue);
  font-size: 14px;
}
.link_tag.white {
  color: var(--text);
  text-shadow: var(--text) 0px 0px 10px;
}

.click {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.click:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1000px) {
  .banner::before,
  .banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--banner_img_2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: grayscale(70%);

    -webkit-mask-image: linear-gradient(to bottom, var(--bg) 20%, transparent);
    mask-image: linear-gradient(to bottom, var(--bg) 20%, transparent);

    z-index: 0;
  }
  .banner-content {
    align-items: flex-end;
    padding-bottom: 2rem;
  }
  .banner-information {
    margin-left: 0;
  }
}
@media screen and (max-width: 550px) {
  .about-container {
    flex-direction: column;
  }
  .banner-content {
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-end;

    padding-bottom: 10rem;
  }
  .profile-circle {
    max-width: 100%;

    order: -1;
  }
  .profile-circle img {
    max-height: 400px;
  }
  .banner {
    height: 100vh;
  }
  .banner-information {
    margin-left: 0;
  }
  .banner-information button {
    margin-top: 5rem;
  }
}
