
.banner {
    position: relative;
    height: 600px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: var(--banner_img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: grayscale(70%);

    -webkit-mask-image: linear-gradient(to bottom, var(--bg) 20%, transparent);
    mask-image: linear-gradient(to bottom, var(--bg) 20%, transparent);

    z-index: 0;
}

.banner > * {
    position: relative;
    z-index: 1;
}


.profile-circle{
    height: 200px;
    aspect-ratio: 1/1;

    border: 2px solid var(--main-blue);
    border-radius: 50%;

    box-shadow:
        inset 0 0 10px var(--main-blue),
        0 0 10px var(--main-blue);
    z-index: 2;
}

.glow{
    box-shadow: 0 0 10px var(--main-blue);
}

.profile-circle img{
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 1;
}

.button{
    padding: 10px 20px;
    color: var(--bg);
    background-color: var(--main-blue);
    border: none;
    border-radius: 1rem;
}

.click{
    transition: transform 0.3s ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.2); 
}