
.banner {
    position: relative;
    height: 70%;
    width: 100%;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: var(--banner_img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: grayscale(70%);

    -webkit-mask-image: linear-gradient(to bottom, var(--bg) 20%, transparent);
    mask-image: linear-gradient(to bottom, var(--bg) 20%, transparent);

    z-index: 0;
}

.banner > * {
    position: relative;
    z-index: 1;
}

.banner-content{
    padding-top: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.banner-information{
    max-width: 500px;
}


.profile-circle{
    width: 100%;
    max-width: 200px;
    min-width: 100px;
    aspect-ratio: 1/1;

    border: 2px solid var(--main-blue);
    border-radius: 50%;

    box-shadow:
        inset 0 0 10px var(--main-blue),
        0 0 10px var(--main-blue);
    z-index: 2;
}

.glow{
    box-shadow: 0 0 10px var(--main-blue);
}

.profile-circle img{
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 1;
}

.button{
    width: fit-content;
    padding: 10px 20px;
    color: var(--bg);
    background-color: var(--main-blue);
    border: none;
    border-radius: 1rem;
    font-family: var(--code-font);
    font-size: 14px;
}
a {
  text-decoration: none;
}

.click{
    transition: transform 0.3s ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.2); 
}

@media screen and (max-width: 550px){
    .banner-content{
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        padding-bottom: 70px;
    }
    .profile-circle{
        max-width: 150px;
        order: -1;
    }
        .banner {
        height: 100%;
    }
}