.footer-section{
    padding: 50px 10px 50px 10px; 
    margin-top: 50px;
    border-top: 1px solid var(--grey);
    background-color: var(--bg2);
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}
.footer-grid img{
    object-fit: contain;
}

.footer-txt{
    margin-top: 50px;
    font-family: var(--code-font);
    font-size: 13px;
    color: var(--grey);
}
.footer-link-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 550px){
    .footer-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}