header{
    position: fixed;
    width: 100%;
    z-index: 20;

    background-color: rgba(0, 0, 0, 0.208);
    backdrop-filter: blur(2px); 
    -webkit-backdrop-filter: blur(2px); 
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

header section{
  margin: 1rem 2rem .3rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-image{
  height: 4rem;
}