*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	color-scheme: dark;
	--bg: #0b0f14;
	--text: #e7edf5;
}

html,
body {
	height: 100%;
	margin: 0;
	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		Segoe UI,
		Roboto,
		Arial;
	background: var(--bg);
	color: var(--text);
}

#app{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 100% auto;
}