@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Lobster&family=Ms+Madi&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	color-scheme: dark;
	--bg: #0b0f14;
	--text: #e7edf5;
	--main-blue: #40B9F2;

	--main-font: "Roboto", sans-serif;
    --statement-font: "Ms Madi", cursive;
	--code-font: "Google Sans Code", monospace;

	--banner_img: url(../img/banner/banner_city_1.jpg);
}

html,
body {
	height: 100%;
	margin: 0;
	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		Segoe UI,
		Roboto,
		Arial;
	background: var(--bg);
	color: var(--text);
}

#app{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100% auto;
}

img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.statement-font {
  font-family: var(--statement-font);
  font-weight: 400;
  font-style: normal;
}
.remove-margin{
	margin: 0;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fullSize{
	height: 100%;
	width: 100%;
}
/*testing*/
/* main{
	margin-top: 200px;
} */